{% extends "base.html" %}

{% block title %}Eliminar Producto{% endblock %}

{% block content %}
<h2>¿Estás seguro de que deseas eliminar este producto?</h2>
<p><strong>Nombre:</strong> {{ producto.nom_pro }}</p>
<p><strong>Descripción:</strong> {{ producto.des_pro }}</p>
<p><strong>Precio:</strong> {{ producto.pre_pro }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'admin_producto_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
